.nav-link {
  margin: 0 13px 0 0;
}
.nav-link:hover {
  transition: all 0.3s ease-in;
  transform: scale(1);
  font-weight: bold;
}

.auth-btn:hover {
  background-color: rgb(142, 221, 235);
  border: 2px solid rgb(248, 97, 97);
  transition: all 0.2s ease-in;
  transform: scale(1.1);
}

.name-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user-name{
  color: rgb(14, 64, 131);
  padding: 0.4rem;
  background-color: rgba(148, 240, 205, 0.822);
  border-radius: 3rem !important;;
  box-shadow: 7px 9px 12px rgb(223, 89, 107) !important;
  margin: 10px 1rem 1rem 10px;
}

/* ============ MEDIA QUERIES (medium devices) ================ */
@media screen and (max-width: 1024px) {
}

/* ============ MEDIA QUERIES (small devices) ================ */
@media screen and (max-width: 600px) {
}
